<section id="banner">
  <h2>{{ .Site.Params.title }}</h2>
  <p>{{ .Site.Params.subtitle }}</p>
  {{ with .Params.Banner.button }}
  <ul class="actions special">
    {{ range . }}
      <li><a href="{{ .url | relURL }}" class="button {{ .type }}">{{ .text }}</a></li>
    {{ end }}
  </ul>
  {{ end }}
</section>
