<!DOCTYPE HTML>
{{ with .Site.Params.languageCode }}<html lang="{{ . }}">{{ end }}
	<head>
		<title>{{ if .Title }}{{ .Title | markdownify }} | {{ end }} {{ .Site.Params.title | markdownify }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{{ with .Site.Params.subtitle }}<meta name="description" content="{{ . | markdownify }}">{{ end }}
		{{ with .Site.Params.name }}<meta name="author" content="{{ . | markdownify }}">{{ end }}
		<meta name="keywords" content="
			{{- if .IsHome -}}
				{{- if .Site.Params.keywords -}}
		    	{{- range $i, $e := .Site.Params.keywords }}{{ if $i }}, {{ end }}{{ $e }}{{ end -}}
					{{ end -}}
			{{ end -}}
			{{ if .IsPage }}
				{{- if .Params.tags -}}
		    	{{- range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}
				{{- end -}}
			{{ end -}}" />
		{{- with .OutputFormats.Get "rss" -}}
    	{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
		{{- end -}}
		{{ hugo.Generator }}

    {{/*  Favicon  */}}
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

		{{ with .Site.Params.Podcast.itunes }}
			<meta name="apple-itunes-app" content="app-id={{ replaceRE "https\\:\\/\\/itunes\\.apple\\.com\\/[a-z]{2}\\/podcast\\/[a-z\\-]*\\/id(\\d{10}).*" "$1" . }}" />
		{{ end }}
		{{ template "_internal/opengraph.html" . }}
		{{ template "_internal/twitter_cards.html" . }}
		<link rel="stylesheet" href="{{ "fontawesome/css/all.min.css" | absURL }}" />
		{{- $css := .Site.Data.libs.css -}}
		{{/*  {{ printf "<link rel=\"stylesheet\" href=\"https://cdn.plyr.io/%s/plyr.css\" crossorigin=\"anonymous\">" $css.plyr.version | safeHTML }}  */}}
		<link rel="stylesheet" href="{{ "css/plyr-3.6.9.css" | absURL }}" />

		{{ $style := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify | fingerprint }}
		<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" media="screen" crossorigin="anonymous" />
		{{- range .Site.Params.customCSS -}}
    	<link rel="stylesheet" href="{{ . | absURL }}">
  	{{- end -}}
	</head>
