  <div class="box">
  {{ $pages := .Paginator.Pages }}
  {{ $len := (len $pages) }}
  {{ range $index, $key := $pages }}

    {{/*  If front matter contains a field `images` */}}
    {{ if .Params.images }}
      <div class="row no-collapse 50% uniform">
        <div class="col-6 col-12-mobilep">
          <a href="{{ .Permalink }}">{{ if .Draft }}DRAFT: {{end}}{{ .Title | markdownify }}</a>
          {{ with .Params.subtitle }} | {{ . | markdownify }} | {{ end }}
          {{ with .Params.passage }} | {{ . | markdownify }} | {{ end }}
          <time class="date-meta">{{ .Date.Format "Jan 2, 2006" }}</time>
          <br>
          {{ .Summary | plainify | safeHTML }}
          {{ if .Truncated }}
            <a class="button small alt" href="{{ .Permalink }}" >
                Read more<i class="fas fa-angle-double-right"></i>
            </a>
          {{ end }} {{/* if */}}
        </div>
        <div class="col-6 col-12-mobilep">
          <span class="image fit">
            <a href="{{ .Permalink }}">
              <img src="{{ index .Params.images 0 | absURL }}"></img>
            </a/>
          </span>
        </div>
      </div>

    {{ else }}
      <div>
        <a href="{{ .Permalink }}">{{ if .Draft }}DRAFT: {{end}}{{ .Title | markdownify }}</a>
        <time class="date-meta">({{ .Date.Format "Jan 2, 2006" }})</time>
        <br>
        {{ .Summary | plainify | safeHTML }}
        {{ if .Truncated }}
          <a class="button small alt" href="{{ .Permalink }}" >
              Read more<i class="fas fa-angle-double-right"></i>
          </a>
        {{ end }} {{/* if */}}
      </div>

    {{ end }}{{/* if */}}

    {{ if lt (add $index 1) $len }}
    {{ end }}{{/* if */}}

    <div class="col-12">
      {{ range .Params.audio }}
        {{ $audio_name_arr := split . "." }}
        {{ $audio_type := index $audio_name_arr (sub (len $audio_name_arr) 1) }}
          <audio id="player" class="player" controls>
            <source src="{{ . }}" preload="auto" type="audio/{{ $audio_type }}">
            <p>Votre navigateur ne prend pas en charge l'audio HTML5.
              Voici un <a href="{{ . }}">lien vers le fichier audio</a>
              à la place.</p>
          </audio>
            <a href="{{ . }}" class="button alt small" download><i class="icon fas fa-download"></i>&nbsp;Télécharger</a>
      {{ end }} {{/* range .Params.audio */}}
    </div>
    <hr />

  {{ end }} {{/* range */}}
  {{ template "_internal/pagination.html" . }}
  </div>
