{{ "<!-- Scripts -->" | safeHTML }}
{{ $js := .Site.Data.libs.js }}
{{ $jquery := resources.Get "js/jquery.min.js" | fingerprint }}
{{ $dropotron := resources.Get "js/jquery.dropotron.min.js" | fingerprint }}
{{ $scrollex := resources.Get "js/jquery.scrollex.min.js" | fingerprint }}
{{ $browser := resources.Get "js/browser.min.js" | fingerprint }}
{{ $breakpoints := resources.Get "js/breakpoints.min.js" | fingerprint }}
{{ $util := resources.Get "js/util.js" | minify | fingerprint }}
{{ $ie := resources.Get "js/ie/respond.min.js" | fingerprint }}
{{ $main := resources.Get "js/main.js" | minify | fingerprint }}
{{ "<!-- Scripts-HTML5up -->" | safeHTML }}
<script src="{{ $jquery.RelPermalink }}" integrity="{{ $jquery.Data.Integrity }}" crossorigin="anonymous"></script>
<script src="{{ $dropotron.RelPermalink }}" integrity="{{ $dropotron.Data.Integrity }}" crossorigin="anonymous"></script>
<script src="{{ $scrollex.RelPermalink }}" integrity="{{ $scrollex.Data.Integrity }}" crossorigin="anonymous"></script>
<script src="{{ $browser.RelPermalink }}" integrity="{{ $browser.Data.Integrity }}" crossorigin="anonymous"></script>
<script src="{{ $breakpoints.RelPermalink }}" integrity="{{ $breakpoints.Data.Integrity }}" crossorigin="anonymous"></script>
<script src="{{ $util.RelPermalink }}" integrity="{{ $util.Data.Integrity }}" crossorigin="anonymous"></script>
<script src="{{ $main.RelPermalink }}" integrity="{{ $main.Data.Integrity }}" crossorigin="anonymous"></script>

{{ `<!--[if lte IE 8]><script src=" {{ $ie.RelPermalink }} "></script><![endif]-->` | safeHTML}}
{{ if .IsPage }}
  {{ printf "<script src=\"https://cdn.plyr.io/%s/plyr.polyfilled.js\" crossorigin=\"anonymous\"></script>" $js.plyr.version | safeHTML }}
  <script>
    $(document).ready(function() {
      if ($(".player").length) {
        const player = new Plyr('.player', {settings: ['speed']});
      }
    });
  </script>
{{ end }}
{{ if .Site.Params.instant_page }}{{ printf "<script src=\"https://instant.page/%s\" type=\"module\" defer integrity=\"%s\" crossorigin=\"anonymous\"></script>" $js.instantpage.version $js.instantpage.integrity | safeHTML }}{{ end }}
{{ if .Site.GoogleAnalytics }}{{ template "_internal/google_analytics.html" . }}{{ end }}
{{/*  Enable Plyr for multiple players on the same page  */}}
<script>
  const players = Plyr.setup('.player');
</script>
</body>
</html>
